<div class="wrapper">
  <div id="pin"></div>

  <div id="banana" class="pin"></div>
  <div id="milk" class="pin"></div>
  <div id="tuna" class="pin"></div>
  <div id="rice" class="pin"></div>
  <div id="tomatoes" class="pin"></div>
  <div id="bread" class="pin"></div>
  <div id="fish" class="pin"></div>

  <div class="map"><%= image_tag('floorplan2.jpg') %></div>
  <div id="find">
    <div id="toggleMenu"></div>
    <div id="mainMenu" class="menu">
      <ul>
        <li id="findProduct">find product</li>
        <li id="findStore">find store</li>
        <li id="showGroceryList">grocery list</li>
      </ul>
    </div>
    <div id="products" class="menu">
      <ul>
        <li><input type="search"></li>
      </ul>
    </div>
    <div id="groceryList" class="menu">
      <ul>
        <li id="banana" class="product checked">gazapcho<span class="addProduct">+</span></li>
        <li id="milk" class="product checked">sandwich<span class="addProduct">+</span></li>
        <li id="tuna" class="product">tuna<span class="addProduct">+</span></li>
        <li id="rice" class="product">rice<span class="addProduct">+</span></li>
        <li id="fish" class="product checked">fish<span class="addProduct">+</span></li>
        <li id="tomatoes" class="product">tomatoes<span class="addProduct">+</span></li>
        <li id="bread" class="product">bread<span class="addProduct">+</span></li>
        <li class="back">back</li>
      </ul>
    </div>
  </div>
</div>

