<header>
  <ul id="navigation">
    <li id="shops" class="navigation-option select"></li>
    <li id="artisans" class="navigation-option"></li>
    <li id="list" class="navigation-option"></li>
  </ul>
</header>

<div class="searchbox">
  <input id="storesearch" type="search" placeholder="search ...">
</div>

<div id="migros" class="shop">
  <div class="shop-title">
    Migros,
    <span>Limmatplatz</span>
    <span class="distance">200m</span>
  </div>
  <%= image_tag('migros_limmatplatz.jpg') %>
</div>
<div id="coop" class="shop">
  <div class="shop-title">
    Coop,
    <span>Röntgenstrasse 20</span>
    <span class="distance">400m</span>
  </div>
  <%= image_tag('floorpan.jpg') %>
</div>
<div id="denner" class="shop">
  <div class="shop-title">
    Denner,
    <span>Röntgenstrasse 20</span>
    <span class="distance">1.5km</span>
  </div>
</div>
