<div class="wrapper">
  <div id="pin"></div>

  <div id="banana" class="pin" style="top: 50px; left: 20px"></div>
  <div id="milk" class="pin" style="top: 60px; left: 70px"></div>
  <div id="tuna" class="pin" style="top: 300px; left: 200px"></div>
  <div id="rice" class="pin" style="top: 360px; left: 400px"></div>
  <div id="tomatoes" class="pin" style="top: 380px; left: 230px"></div>
  <div id="bread" class="pin" style="top: 60px; left: 613px"></div>
  <div id="fish" class="pin" style="top: 230px; left: 100px"></div>

  <div class="store-info pin" style="top: 230px; left: 100px"></div>
  <div class="store-info pin" style="top: 230px; left: 100px"></div>
  <div class="store-info pin" style="top: 230px; left: 100px"></div>


  <div class="map"><%= image_tag('floorplan2.jpg') %></div>
  <div id="find">
    <div id="toggleMenu"></div>
    <div id="mainMenu" class="menu">
      <ul>
        <li id="findProduct">find product</li>
        <li id="storeInfos">show store infos</li>
        <li id="showGroceryList">grocery list</li>
      </ul>
    </div>
    <div id="products" class="menu">
      <ul>
        <li><input type="search"></li>
      </ul>
    </div>
    <div id="groceryList" class="menu">
      <ul>
        <li id="banana" class="product checked">gazapcho<span class="addProduct">+</span></li>
        <li id="milk" class="product checked">sandwich<span class="addProduct">+</span></li>
        <li id="tuna" class="product">tuna<span class="addProduct">+</span></li>
        <li id="rice" class="product">rice<span class="addProduct">+</span></li>
        <li id="fish" class="product checked">fish<span class="addProduct">+</span></li>
        <li id="tomatoes" class="product">tomatoes<span class="addProduct">+</span></li>
        <li id="bread" class="product">bread<span class="addProduct">+</span></li>
        <li class="back">back</li>
      </ul>
    </div>
  </div>
</div>

