// vars
$orange: rgb(245,160,23);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: arial;
  margin: 0;
  background: #444;
}

.wrapper {
  background: white;
}

.checked {
  text-decoration: line-through;

  &:before {
    content: '\2713';
    text-decoration: none;
  }
}

.selected {
  background: rgb(151, 216, 151) !important;
}

.searchbox {
  width: 100%;
}
