$pin-color: orange;

#pin, .pin {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: $pin-color;
  position: absolute;
  top: 353px;
  left: 300px;
  border: 8px solid rgba(0,0,0,0.7);
  box-shadow: inset 0 0 20px darkred;
  animation: pulse 1s linear infinite;
  -webkit-animation: pulse 1s linear infinite;

  &#bread {
    background: blue;
    top: 60px;
    left: 613px;
  }
}

@keyframes "pulse" {
 0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }
}

@-webkit-keyframes "pulse" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }
}



.pin {
  display: none;
  background: blue;
}

#map {
  width: 100%;
  transform: rotateX(90deg);
}

#find {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 4rem;
  background: orange;
  padding: 1rem;
  line-height: 3rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-weight: 700;
  box-shadow: -3px 3px 0px 8px #000;
}

#toggleMenu {
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 4rem;

  &:before {
    content: '+';
    text-align: center;
  }
}

.menu {
  display: none;
  position: absolute;
  right: 1rem;
  bottom: 4rem;
  cursor: pointer;

  li {
    width: 600px;
    list-style-type: none;
    font-size: 3rem;
    border: 1px solid grey;
    padding: 20px;
    background: white;
  }
}

#products {
  input {
    font-size: 3rem;
  }
}

.addProduct {
  position: relative;
  float: right;
}
