#navigation {
  width: 100%;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  margin-top: -18px;

  li {
    height: 5rem;
    float: left;
    list-style-type: none;
    width: 15%;
    text-align: center;
    border: 1px solid black;
    background: lighten(orange, 30%);
    font-weight: bold;
    font-size: 3rem;
    line-height: 5rem;

    &.select {
      width: 70%;
      background: orange
    }
  }

  #shops {
    &:after {
      content: 'A';
    }
  }

  #groceries {
    &:after {
      content: 'B';
    }
  }

  #artisans {
    &:after {
      content: 'C';
    }
  }
}

#applicationHeader {
  height: 5rem;
  background: white;
  margin-bottom: 1.5rem;
}

.navigation-menu {
  img {
    height: 4rem;
    line-height: 5rem;
    float: right;
    margin: 0.5rem 1rem;
  }

  ul {
    display: none;
    position: absolute;
    font-size: 3rem;
    right: 0;
    top: 2rem;
    background-color: white;
    list-style-type: none;
    z-index: 1;
    padding: 1rem 2rem;

    li {
      border-bottom: 1px solid black;
      padding: 1rem;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
