.product {
  width: 49%;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-top: 1rem;
  height: 500px;
  background-color: white;

  &-title {
    padding: 1rem;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  .product-rating {
    bottom: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #FFDB27;
    text-shadow: 2px 2px 2px #000;
  }

  img {
    margin-top: 3rem;
    margin-left: 5rem;
    height: 80%;
    vertical-align: center;
  }
}
