#storesearch {
  background: lighten(#444, 20%);
  font-size: 4rem;
  width: 98%;
  margin: 1%;
  border: none;
}

.shop {
  width: 97%;
  margin: 1.5%;
  height: 500px;
  border: 1px solid white;
  list-style-type: none;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
  }
}

.shop-title {
  position: absolute;
  color: white;
  font-size: 3rem;
  bottom: 1.5rem;
  left: 1.5rem;
  font-weight: bold;
  width: 97%;
  z-index: 100;

  span {
    font-weight: normal;
  }

  span.distance {
    position: absolute;
    right: 1rem;
    font-weight: bold;
  }
}
